<p><a id="get_wines" href="#">Get Wines</a></p>
<p><a id="get_wine" href="#">Get Wine with id:</a>&nbsp;&nbsp;&nbsp;<input id="wine_id" type="text"/></p>

<br/>
<br/>
<br/>
<p>Ajax response:</p>
<div id="ajax_response"><!-- place holder --></div>